footer{
    position: absolute;
    width: 1440px;
    height: 407px;
    background: rgba(197, 1, 10, 1);
}
.header{
    margin-top: 37px;
    height: 333px;
    width: 1154px;
    background: rgba(197, 1, 10, 1);
    margin-left: 104px;
    margin-right: 200px;

}
.Our{
    width: 196px;
    height: 72px;
    color: white;
}